.header { position:fixed;z-index:80;background-color:#111; height:55px; width:100%; }

.menu-block {padding: 4px 4px; float:right}
.menu-block-inner select{max-width:150px;display:inline-block;color:#8F94AD;width:100%;height:46px;background-color:#222!important;border-radius:4px;border:0;padding:6px 6px 6px 6px;-webkit-transition:.2s;transition:.2s;}
.menu-block-inner select:hover{background-color:#5f6478!important;color:#fff}
.menu-block-inner select:focus{background-color:#5f6478!important;outline:none;border-radius:2;color:#fff}


.search-block {padding: 4px 4px; float:right}
.search-block-inner input{max-width:300px;display:inline-block;color:#8F94AD;width:100%;height:46px;background-color:#222!important;border-radius:4px;border:0;padding:6px 6px 6px 43px;background-image:url("../images/search.svg");background-repeat:no-repeat;background-position:center left 15px;-webkit-transition:.2s;transition:.2s;}
.search-block-inner input:hover{background-color:#5f6478!important;color:#ffffff;}
.search-block-inner input:focus{background-color:#fff!important;outline:none;border-radius:2;;color:#8F94AD}

.navigation {width: 100%;height: 100%;position: fixed;top: 55px;right: 0;bottom: 0;left: 0; z-index: 60; list-style: none; background: #111;}
.nav-item {width: 200px; border-top: 1px solid #111; border-bottom: 1px solid #000;}
.nav-item a { display: block; padding: 1em; background: #222; color: white; font-size: 9pt; text-decoration: none; transition: color 0.2s, background 0.5s; cursor:pointer}
.nav-item a:hover { color: #eeeeee; background: #54586a; text-decoration: none;}
.container-title{position:relative; font-size:22pt; font-weight:bold; color:white;z-index:81; width:500px; left:50px;top:-5px;}

.site-wrap {min-height: 100%; min-width: 100%; background-color: white; position: relative; top: 0; bottom: 100%; left: 0; z-index: 70; padding: 60px 0px; background-image: #ffffff; background-size: 200%;}
.nav-trigger { position: absolute; clip: rect(0, 0, 0, 0);}
label[for="nav-trigger"] { position: fixed;left: 15px; top: 15px; z-index: 90; height: 30px; width: 30px; cursor: pointer; background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(232,232,232)'/><rect y='24' width='30' height='6' style='fill:rgb(232,232,232)'/><rect y='12' width='30' height='6' style='fill:rgb(232,232,232)'/></svg>"); background-size: contain;}
label[for="nav-trigger"]:hover { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(255,255,255)'/><rect y='24' width='30' height='6' style='fill:rgb(255,255,255)'/><rect y='12' width='30' height='6' style='fill:rgb(255,255,255)'/></svg>"); }
.nav-trigger + label, .site-wrap { transition: left 0.2s;}
.nav-trigger:checked + label { left: 215px;}
.nav-trigger:checked ~ .site-wrap { left: 200px;}

body { overflow-x: hidden; }
h1, h3, p { max-width: 600px; margin: 0 auto 1em; }
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif;}